<div class="panel panel-default">
    <div class="panel-heading">Recherche de produits</div>
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <input ng-model="exp" class="form-control">
                </div>
                <div class="col-md-2">
                    <button ng-click="nouvelleRecherche()" class="btn btn-primary">Rechercher</button>
                </div>
            </div>
        </div>
        <div class="spacer">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Libellé</th>
                    <th>Description</th>
                    <th>Prix</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="produit in produits.content">
                    <td ng-bind="produit.id"></td>
                    <td ng-bind="produit.libelle"></td>
                    <td ng-bind="produit.description"></td>
                    <td ng-bind="produit.prix"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="container">
            <ul class="nav nav-pills">
                <li ng-class="{active:$index==currentPage}" ng-repeat="page in tabPagination track by $index"
                    ng-click="goToPage($index)" class="cursorPointer">
                    <a ng-bind="$index + 1"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
