.spacer {
    margin-top: 20px;
}

.cursorPointer {
    cursor: pointer;
}

.validationForm input.ng-invalid.ng-dirty {
    border-color : #FA787E;
}

.validationForm input.ng-invalid {
    transition:0.5s linear all;
}